body {
    font-family: Arial;
    background: #f7f7f7;
    max-width: 1000px;
    justify-content: center;
    margin: 0 auto;
}

h3 { 
    font-weight: normal;
 }

img {
    max-width:100%; 
}

.titulo-pag {
    margin-top: 80px;
    text-align: center;
}

.abas {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    gap: 80px;
    justify-content: center;
    text-transform: uppercase;
    
}

.barra {
    color:  #ee2211;
    position: absolute;
    left: 945px;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    background: #ffffff;

    
  }



.info{

    margin-top: 60px;
    grid-column: 1;
    place-self: start;
    place-items: start;
    gap: 20px;
    text-align: right;
}

.foto{
    grid-column: 2;
    grid-row: 1;
}

.vermais{
    text-decoration: none;
    background:  #ee2211;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 4px;
}